.header {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;

    .container {
        margin-right: 40px;
        margin-left: auto;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    .form {
        margin: 20px 0 0 20px;
        border: none;

        &__input {
            width: 260px;
            height: 40px;
            background: #343539;
            border-radius: 4px;
            color: #FFFFFF;
            padding-left: 50px;
            border: none;
        }

        &__btn {
            width: 20px;
            height: 20px;
            position: relative;
            display: block;
            background: none;
            border: none;
            left: 15px;
            top: -30px;

            &:focus {
                outline: none;
            }


            &::before {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background: url(../image/chapka/search.png);
                width: 20px;
                height: 20px;
            }
        }
    }

    .nav {
        margin-top: 32px;

        &__item {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            margin-right: 20px;
            text-decoration: none;
            color: #ffffff80;

            &:hover {
                color: #56CCF2;
            }

        }
    }
}